/src/main/resources/classes.docx
/src/main/resources/newWordSmallClasses
/src/main/resources/wordExample.txt
/src/main/resources/writeExample
/src/main/resources/маме_отправить.docx
/src/main/resources/маме_отправить_24.docx
